:root {
  /* App Color */
  --color-primary: var(--color-black);
  --color-accent: var(--color-red);
  --color-text: var(--color-white);

  /* Color */
  --color-black: #000000;
  --color-red: #e50914;
  --color-white: #ffffff;
}

/* 기본 Setting */
* {
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* header */
#header {
  width: 100%;
  height: 80vh;
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  background-image: url(/assets/images/bg_theGlory.jpg);
  background-size: cover;
}

.header__logo {
  display: flex;
  justify-content: space-between;
}
.header__logo__title {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-accent);
}

.header__movie {
  position: relative;
  top: 40%;
  width: 600px;
}
.header__movie__title {
  color: var(--color-text);
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.header__movie__description {
  color: var(--color-text);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.header__movie__btn {
  display: flex;
  gap: 10px;
}
.header__btn--white {
  background-color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.header__btn--gray {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: rgba(85, 85, 85, 0.7);
  color: var(--color-text);
  cursor: pointer;
}

/* original */
#originals {
  background-color: var(--color-primary);
  padding: 0 10px;
}
.originals__title {
  color: var(--color-text);
  padding: 13px 5px;
  font-size: 1.5rem;
}
.originals__movies {
  display: flex;
  gap: 25px;
  padding-bottom: 100px;
}
.movie {
  transition: all 0.2s ease-in-out;
  background-color: var(--color-primary);
  border-radius: 3px;
  width: 200px;
}
.movie:hover {
  transition-delay: 0.3s;
  transform: scale(1.5) translateX(30%) translateY(-20%);
}
.movie:hover .movie__description {
  opacity: 1;
  transition-delay: 0.3s;
}
.movie__img {
  width: 207px;
  height: 294px;
  border-radius: 2px;
}
.movie__description {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  color: var(--color-text);
  padding: 10px 0px;
}
.movie__title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.movie__year {
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.movie__genre {
  font-size: 0.9rem;
}
